.quote blockquote {
  margin: 32px auto;
  padding: 8px 0 8px 28px;
  max-width: 900px;
  border-left: 4px solid var(--brand-red);
}

@media (width >= 900px) {
  .quote blockquote {
    padding-left: 32px;
  }
}

.quote blockquote .quote-quotation {
  font-size: 135%;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-color);
}

.quote blockquote .quote-attribution {
  margin-top: 12px;
  color: var(--muted-text-color);
  font-size: var(--body-font-size-s);
  font-style: italic;
}

.quote blockquote .quote-quotation > :first-child {
  text-indent: -0.5ch;
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation > :first-child::before {
  content: "“";
}

.quote blockquote .quote-quotation > :last-child::after {
  content: "”";
}

.quote blockquote .quote-attribution > :first-child::before {
  content: "—";
  padding-right: 0.5ch;
}
